{% extends 'main/base.html' %}

{% block body %}
    <div class="container col-xxl-8 px-4 py-5 mt-5 pt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://miro.medium.com/max/1400/1*8AaAYxLb-VOgGUW8V8JXQA.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Some text</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultrices dui sapien eget mi proin sed libero. Sodales ut etiam sit amet nisl purus in. Leo integer malesuada nunc vel risus commodo viverra. Egestas erat imperdiet sed euismod. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. A cras semper auctor neque vitae tempus. Amet purus gravida quis blandit turpis cursus.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'med-card' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get card</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
